<!-- MainMenu-Area -->
<nav class="mainmenu-area" data-spy="affix" data-offset-top="200" style="position: fixed">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#primary_menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!--  replace with your logo here cookify<a class="navbar-brand" href="#home_page"><img src="../assets/homecomponentassets/images/logo.png" alt="Logo"></a> -->
        </div>
       

      

        <div class="collapse navbar-collapse" id="primary_menu"  >
            <ul class="nav navbar-nav mainmenu" >
                <li class="active"><a href="#home_page" [routerLink]="['/dashboard']">Home</a></li>     
                <li><a style="cursor: pointer">Trending</a></li>
                <li><a>Masters</a></li>
                <li><a>About</a></li>
                <li><a>Contacts</a></li>
                <li><input type="text" style="padding: 8%;overflow:hidden;border-radius: 50px;" placeholder="Search recipe or chef..." required="required" id="serachvlaue"></li>
                <li><button class="bttn-default active" type="submit" style="margin-right: 20px; margin-left: 20px;"><span class="lnr lnr-location"></span>Search</button></li>
             

              
                <li style="margin-left: 5px"> <a>Welcome: {{name}}</a> </li>
                <li style="margin-left:15px ">
                 <!-- <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"> -->
                           <!-- <mat-icon>more_vert</mat-icon> -->
                           <a (click)="login()" [matMenuTriggerFor]="menu"><mat-icon >toc</mat-icon></a>
                         <!-- </button> -->
                         <mat-menu #menu="matMenu">
                           <button mat-menu-item [routerLink]="['/userprofile']">
                             <mat-icon>account_circle</mat-icon>
                             <span>Profile Setting</span>
                           </button>
                           <button mat-menu-item>
                             <mat-icon>build</mat-icon>
                             <span>Account Setting</span>
                           </button>
                           <button mat-menu-item (click)="logout()">
                             <mat-icon>power_settings_new</mat-icon>
                             <span>Log Out</span>
                           </button>
                         </mat-menu>
          
          </li>
    

            </ul>    
            
             
        </div>

            
          
        </div>
    <!-- </div> -->
</nav>
<!-- MainMenu-Area-End -->