.mainmenu-area{
    background: rgb(203, 32, 45);
    background: -webkit-linear-gradient(45deg, rgba(203, 32, 45, 1) 0%, rgba(212, 70, 81, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(203, 32, 45, 1) 0%, rgba(212, 70, 81, 1) 100%);
    background: linear-gradient(45deg, rgba(203, 32, 45, 1) 0%, rgba(212, 70, 81, 1) 100%);
  
}

.right-button    {
    font-size: 96px;
}

.form-inline {
    
  }

