<section class="testimonial-area" id="trending_page" style="margin-top: -22%">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="page-title text-left" style="margin-left: 100px">
                        <h5 class="title">Trending Recipe</h5>
                        <!-- <h3 class="dark-color">Loved by Many</h3> -->
                        <!-- <div class="space-60"></div> -->
                    </div>
                </div>
            </div>
            <div style="margin-top: -25px"
  ng2-carouselamos
  [width]="1200"
  [items]=recipe
  (onSelectedItem)="selectedItem = $event.item; selectedIndex = $event.index"
  [$item]="itemTemplate"
  [$prev]="prevTemplate"
  [$next]="nextTemplate" >
</div>
            <div class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="team-slide">

                                <ng-template #prevTemplate>
                                                <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                                                                <div class="box-icon">
                                                                    <i class="lnr lnr-chevron-left"></i>
                                                                </div>
                                                        </div>
                                      </ng-template>
                            

<ng-template let-item let-i="index" #itemTemplate >
 
        <app-dashboardrecipecard  [id]="item.id" [recipe_name]="item.recipe_name" [image_path]="item.recipe_image" [cusine_name]="item.cuisine" [serve]="item.serve_for" [duration]="item.duration" [published_on]="item.published_date" [master_name]="item.published_by" [rating_value]="item.rating" ></app-dashboardrecipecard>
</ng-template>


<ng-template #nextTemplate>
                <div class="service-box wow fadeInUp" data-wow-delay="0.2s">
                                <div class="box-icon">
                                    <i class="lnr lnr-chevron-right"></i>
                                </div>
                </div>
</ng-template>
</div>
</div>
</div>
</div>
</section>